.about-list {
	padding: 0 .2rem;
	margin-top: .7rem;
	/* background-color: #F8F8F8; */
}
.about-list li {
	padding: .23rem 0;
	font-size: .26rem;
	border-bottom: 1px solid #F1F2F3;
}
.about-list h5 {
	margin-bottom: .2rem;
	font-size: .3rem;
}
.about-list a {
	color: #22C37B;
}