@define-extend margin-background {
	margin-bottom: 0.2rem;
	background-color: #FFF;
}

.message-list-default, .message-list {
	margin-top: 0.9rem;
}

.mg-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.2rem;
	border-bottom: 1px solid #EEE;
	@extend margin-background;
}

/* .message-list li {
	display: flex;
	justify-content: space-between;
	padding: .2rem 0;

	& > img {
		width: .7rem;
		height: .7rem;
		border-radius: 50%;
		margin: 0 .3rem;
	}

	& > div {
		flex: 1;
		border-bottom: 1px solid #F3F3F3;
	}

	& > div p:first-child {
		display: flex;
		justify-content: space-between;
		padding-right: .3rem;
	}
} */

/* .message-list li:last-child  > div {
	border-bottom: none;
}

.message-list .markdown-text img {
	width: 90%;
	margin: 0;
}

.message-name {
	color: #333;
	font-size: .3rem;
}
.message-time {
	color: #999;
	font-size: .26rem;
} */

.message-list .reply-item {
	border-bottom: none;
}
.message-list .reply-item > div:nth-child(2) {
	border-bottom: 1px solid #EEE;
}

.message-list .reply-item:last-child > div:nth-child(2) {
	border-bottom: none;
}
.message-time {
	color: #999;
	font-size: .24rem;
}
.origin {
	display: block;
	margin: .3rem 0;
	color: #999;
	font-size: .26rem;
}
.avatar {
	width: 0.8rem;
	margin-right: 0.2rem;
}

.mg-item a {
	flex: 1;
	padding: 0.24rem 0;
}
.arrow {
	width: 0.2rem;
	height: 0.2rem;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	transform: rotate(45deg);
}
.item-quote {
	padding-left: 0.2rem;
	margin: 0 0.2rem;
	line-height: 0.6rem;
	border-left: 3px solid #DDD;
	background-color: #F1F1F1;
}
