.post-content {
	width: 100%;
	min-height: 5rem;
	padding: 0 .3rem;
	border: none;
	outline: none;
	resize: none;
	line-height: .6rem;
	box-sizing: border-box;
}

.post-list {
	margin: 0.9rem 0 0.4rem;
}
.post-item {
	padding: 0.2rem;
	position: relative;
	color: #555;
	border-bottom: 1px solid #EEE;
	background-color: #FFF;
}
.post-item input {
	width: 100%;
	height: 0.4rem;
	color: #333;
	border: none;
	outline: none;
}
.post-item input::-webkit-input-placeholder {
	color: #999;
}
.tag-item::after {
	content: attr(data-tag);
	position: absolute;
	right: 0.2rem;
}

.go-post-btn {
	width: 1rem;
	position: absolute;
	top: 50%;
	right: 0.2rem;
	color: #FFF;
	text-align: center;
	font-size: .28rem;
	line-height: .55rem;
	border-radius: 5px;
	opacity: .5;
	background-color: #1ABC9C;
	transform: translateY(-50%);
}
.go-post-btn.active {
	opacity: 1;
}
.highlight {
	color: #FFF;
	background-color: green;
}

.select-tag {
	width: 7.5rem;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.3s;
}
.select-enter, .select-leave-active {
	opacity: 0;
}
.select-enter ul, .select-leave-active ul {
	transform: translateY(100%);
}


/* .modal-transition, .modal-transition {
	transition: opacity .3s;
}
.modal-enter, .modal-leave {
	opacity: 0;
}
.modal-enter .modal-content, .modal-leave .modal-content {
	transform: translateY(100%);
} */


.select-tag ul {
	width: 100%;
	position: absolute;
	bottom: 0;
	transition: all 0.3s;
}
.select-tag li {
	text-align: center;
	line-height: 0.8rem;
	border-bottom: 1px solid #EEE;
	background-color: #FFF;
}
.select-tag li:last-child {
	color: #999;
}