.recent-list {
	padding-top: 1.1rem;
}

.recent-item {
	padding: .2rem;
	margin-bottom: .3rem;
	background-color: #FFF;

	& > div {
		display: flex;
		justify-content: space-between;
		margin-bottom: .3rem;

		& div {
			flex: 1;
		}
	}

	& img {
		width: .8rem;
		height: .8rem;
		margin-right: .3rem;
		border-radius: 50%;
	}
}